<!-- .. Rest of Code.. -->
<!-- </body> -->

<!-- BEGIN CSS -->
<style>
.styledFont { color: green; }
.red { color: red; }
.blue { color: blue; }
.big {font-size: 36px;}
.tiny {font-size: 10px;}
h3 {text-align: center;}
h4 {text-decoration: bold;}
h5 {font-family: cursive;}
.combo {color: orange; text-decoration: bold; font-size: 30px;}